body {
  color: #323653;
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
  font-family: "Mukta", sans-serif;
}

h1,
h6 {
  text-align: center;
  font-family: "Mukta", sans-serif;
  color: #323653;
}

h2 {
  font-family: "Mukta", sans-serif;
  color: #323653;
}

h5 {
  color: #323653;
}

ul {
  font-family: "Mukta", sans-serif;
  color: #323653;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.app {
  max-width: 700px;
  margin: 20px auto 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 2px solid #323653;
  padding: 20px 5px;
}

#search-form {
  text-align: center;
  padding: 10px;
  margin: 20px 10px;
}

#search-text-input {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#search-button {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #323653;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

#current-location-button {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #323653;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

.weather-symbol {
  font-size: 50px;
}
.temperatureNow {
  font-size: 25px;
  color: #323653;
}
.units {
  font-size: 12px;
  vertical-align: super;
}

.description {
  font-size: 15px;
  color: #323653;
}

.today-breakdown {
  color: #323653;
  text-align: center;
}

.the-future {
  color: #323653;
  text-align: center;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: "Mukta", sans-serif;
}

.me {
  color: #4c9173;
  margin: 0 auto;
}
